<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milanuo.window.mapper.WindowdataMapper" >
  <resultMap id="BaseResultMap" type="com.milanuo.window.pojo.Windowdata" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="inputHeight" property="inputheight" jdbcType="INTEGER" />
    <result column="inputWidth" property="inputwidth" jdbcType="INTEGER" />
    <result column="inputNumber" property="inputnumber" jdbcType="INTEGER" />
    <result column="materialsType" property="materialstype" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="memoryDate" property="memorydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, inputHeight, inputWidth, inputNumber, materialsType, type, memoryDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.milanuo.window.pojo.WindowdataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from windowdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from windowdata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from windowdata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.milanuo.window.pojo.WindowdataExample" >
    delete from windowdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.milanuo.window.pojo.Windowdata" >
    insert into windowdata (id, inputHeight, inputWidth, 
      inputNumber, materialsType, type, 
      memoryDate)
    values (#{id,jdbcType=BIGINT}, #{inputheight,jdbcType=INTEGER}, #{inputwidth,jdbcType=INTEGER}, 
      #{inputnumber,jdbcType=INTEGER}, #{materialstype,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{memorydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.milanuo.window.pojo.Windowdata" >
    insert into windowdata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inputheight != null" >
        inputHeight,
      </if>
      <if test="inputwidth != null" >
        inputWidth,
      </if>
      <if test="inputnumber != null" >
        inputNumber,
      </if>
      <if test="materialstype != null" >
        materialsType,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="memorydate != null" >
        memoryDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="inputheight != null" >
        #{inputheight,jdbcType=INTEGER},
      </if>
      <if test="inputwidth != null" >
        #{inputwidth,jdbcType=INTEGER},
      </if>
      <if test="inputnumber != null" >
        #{inputnumber,jdbcType=INTEGER},
      </if>
      <if test="materialstype != null" >
        #{materialstype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="memorydate != null" >
        #{memorydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.milanuo.window.pojo.WindowdataExample" resultType="java.lang.Integer" >
    select count(*) from windowdata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update windowdata
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.inputheight != null" >
        inputHeight = #{record.inputheight,jdbcType=INTEGER},
      </if>
      <if test="record.inputwidth != null" >
        inputWidth = #{record.inputwidth,jdbcType=INTEGER},
      </if>
      <if test="record.inputnumber != null" >
        inputNumber = #{record.inputnumber,jdbcType=INTEGER},
      </if>
      <if test="record.materialstype != null" >
        materialsType = #{record.materialstype,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.memorydate != null" >
        memoryDate = #{record.memorydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update windowdata
    set id = #{record.id,jdbcType=BIGINT},
      inputHeight = #{record.inputheight,jdbcType=INTEGER},
      inputWidth = #{record.inputwidth,jdbcType=INTEGER},
      inputNumber = #{record.inputnumber,jdbcType=INTEGER},
      materialsType = #{record.materialstype,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      memoryDate = #{record.memorydate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.milanuo.window.pojo.Windowdata" >
    update windowdata
    <set >
      <if test="inputheight != null" >
        inputHeight = #{inputheight,jdbcType=INTEGER},
      </if>
      <if test="inputwidth != null" >
        inputWidth = #{inputwidth,jdbcType=INTEGER},
      </if>
      <if test="inputnumber != null" >
        inputNumber = #{inputnumber,jdbcType=INTEGER},
      </if>
      <if test="materialstype != null" >
        materialsType = #{materialstype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="memorydate != null" >
        memoryDate = #{memorydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milanuo.window.pojo.Windowdata" >
    update windowdata
    set inputHeight = #{inputheight,jdbcType=INTEGER},
      inputWidth = #{inputwidth,jdbcType=INTEGER},
      inputNumber = #{inputnumber,jdbcType=INTEGER},
      materialsType = #{materialstype,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      memoryDate = #{memorydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>